@page "/"


<PageTitle>Calculadora Imc</PageTitle>

<div class="container">
    <Slide Id="Calculator">
    <img src="/Imagens/icon-calculate-image.png" alt="Calculadora" class="icon-calc"/>
    <Calculate/>
    </Slide>
    <Slide Id="history"><History/></Slide>
</div>

<dialog id="result-dialog">
<h1>Resultado</h1>
</dialog>